 .App {
  text-align: center;
  
}

.head-App {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  background-color:antiquewhite;
  height: 200px;
  padding: 4%;
}



.cart-value {
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
}





.card-container 
{
  display: flex;
  flex-direction:inherit;
  gap: 3rem;
  margin: "27px";
  justify-content: center;
 }